spring:
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:mysql://${MYSQLHOST}:${MYSQLPORT}/${MYSQLDATABASE}
    username: ${DATA_BASE_USERNAME}
    password: ${DATA_BASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

jwt:
  public:
    key: ${JWT_PUBLIC_KEY_PATH}
  private:
    key: ${JWT_PRIVATE_KEY_PATH}